// 
// Navbar
// 

#mainNav {
    box-shadow: $box-shadow;
    background-color: $white;
    transition: background-color 0.2s ease;

    .navbar-brand {
        font-family: $font-family-serif;
        font-weight: $font-weight-bold;
        background: url("/assets/img/logo/logo-web.png") no-repeat;
        background-size: 100%;
        width: 180px;
        height: 50px;
        background-position-y: 5px;
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                color: $ia_dark;
                font-family: $font-family-serif;
                font-weight: $font-weight-bold;
                font-size: 1.1rem;
                padding: 0.75rem 0;

                &:hover {
                    color: $secondary;
                }

                &.active {
                    color: $secondary;
                }
            }
        }
    }

    @include media-breakpoint-up(lg) {
        // Base styling for the navbar - screen sizes greater than the large breakpoint

        box-shadow: none;
        background-color: transparent;

        .navbar-brand {
            background: url("/assets/img/logo/logo-cs.png") no-repeat;
            background-size: 100%;
            width: 180px;
            height: 50px;
            background-position-y: 5px;
        }

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: fade-out($white, 0.2);
                    padding: 0 1rem;

                    &:hover {
                        color: $secondary!important;
                    }

                    &:active {
                        color: $secondary!important;
                    }
                }

                &:last-child {
                    .nav-link {
                        padding-right: 0;
                    }
                }
            }
        }

        // Navbar styling applied when the page is scrolled
        &.navbar-shrink {
            box-shadow: $box-shadow;
            background-color: $white;

            .navbar-brand {
                background: url("/assets/img/logo/logo.svg") no-repeat;
                background-size: 100%;
                width: 180px;
                height: 50px;
                background-position-y: 5px;
            }

            .navbar-nav {
                .nav-item {
                    .nav-link {
                        color: $ia_dark;

                        &:hover {
                            color: $secondary;
                        }

                        &:active {
                            color: $secondary!important;
                        }
                    }
                }
            }
        }
    }
}
