// Footer
footer.bg-dark.py-5.text-white
    .container.px-4.px-lg-5
        .row
            // Left section: Logo and description
            .col-lg-4.mb-4.mb-lg-0
                img.img-logo.mb-3(src="/assets/img/logo/logo-cs.png" alt="Inscripta AI Logo")
                p.small.text-light.mb-3
                    | Inscripta is a trusted AI consulting partner helping enterprises modernize data infrastructure and accelerate AI adoption. With deep expertise, we specialize in scalable solutions for Generative AI, Agentic Workflows, LLMs, NLP, OCR, Document AI, and more.
                .mb-2
                    i.fas.fa-envelope.me-2
                    a.text-info.text-decoration-none(href="mailto:sales@inscripta.ai") sales@inscripta.ai
                .mb-2
                    i.fab.fa-linkedin.fa-lg.text-info.me-2
                    a.text-info.text-decoration-none(href='https://www.linkedin.com/company/inscripta-ai/', target='_blank') LinkedIn
                //.mb-2
                    i.fas.fa-phone.me-2
                    span.text-info +1-555-123-4567

            // Right sections: Products, Resources, Contact
            .col-lg-7.offset-lg-1
                .row
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.mb-3 Products
                        ul.list-unstyled
                            li
                                a.text-light(href='/products/parseqa_qabot.html') ParseQa QABot
                            li
                                a.text-light(href='/products/parseqa_curate.html') ParseQa Curate
                            li
                                a.text-light(href='/products/norg_ai.html') NorgAI
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.mb-3 Resources
                        ul.list-unstyled
                            li
                                a.text-light(href='/blog/') Blogs
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.bold.mb-3 Services
                        ul.list-unstyled
                            li
                                a.text-light(href='/consulting.html') Consulting
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.mb-3 Contact
                        ul.list-unstyled
                            li
                                a.text-light(href='mailto:sales@inscripta.ai') Email Us
                        
        .row.mt-4
            .col-12.text-center
                .small.text-light.mt-2
                    | &copy; 2025 Inscripta AI. All Rights Reserved.
                    a.text-light.mx-2 Terms of Service
                    a.text-light.mx-2(href='/legal/privacy.html') Privacy Policy

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='/js/scripts.js')

// For loading images lazily
script(src="/js/lazysizes.min.js")
script(src="/js/ls.unveilhooks.min.js")


link(rel="stylesheet", href="http://website-bot.inscripta.ai/static/style.css")

// Load the chatbot bundle and auto-open
script(src="http://website-bot.inscripta.ai/static/chatbot.bundle.iife.js", onload="window.chatbotApp.openChat()")