// Footer

footer.bg-dark.py-5.text-white(role="contentinfo")
    .container.px-4.px-lg-5
        .row
            // Left section: Logo and description
            .col-lg-5.mb-4.mb-lg-0
                img.img-logo.mb-3(src="/assets/img/logo/logo-cs.png" alt="Inscripta AI Logo")
                p.small.text-light.mb-3
                    | Inscripta delivers AI solutions through both innovative products and expert consulting. Our offerings include ParseQa QABot for high-accuracy question answering and ParseQa Curate for intelligent content organization, alongside scalable capabilities in Generative AI, Agentic Workflows, LLMs, NLP, OCR, and Document AI. Whether through Saas applications, ready-to-deploy tools or customized engagements, we help enterprises streamline knowledge workflows, and accelerate AI adoption with measurable impact.
                .mb-2
                    svg.icon(xmlns='http://www.w3.org/2000/svg' viewBox='100 100 540 540')
                        path(d='M112 128C85.5 128 64 149.5 64 176C64 191.1 71.1 205.3 83.2 214.4L291.2 370.4C308.3 383.2 331.7 383.2 348.8 370.4L556.8 214.4C568.9 205.3 576 191.1 576 176C576 149.5 554.5 128 528 128L112 128zM64 260L64 448C64 483.3 92.7 512 128 512L512 512C547.3 512 576 483.3 576 448L576 260L377.6 408.8C343.5 434.4 296.5 434.4 262.4 408.8L64 260z')
                    a.text-info.text-decoration-none(href="mailto:sales@inscripta.ai") sales@inscripta.ai
                .mb-2
                    svg.icon(xmlns='http://www.w3.org/2000/svg' viewBox='100 100 540 540')
                        path(d='M512 96L127.9 96C110.3 96 96 110.5 96 128.3L96 511.7C96 529.5 110.3 544 127.9 544L512 544C529.6 544 544     529.5 544 511.7L544 128.3C544 110.5 529.6 96 512 96zM231.4 480L165 480L165 266.2L231.5 266.2L231.5 480L231.4 480zM198.2 160C219.5 160 236.7 177.2 236.7 198.5C236.7 219.8 219.5 237 198.2 237C176.9 237 159.7 219.8 159.7 198.5C159.7 177.2 176.9 160 198.2 160zM480.3 480L413.9 480L413.9 376C413.9 351.2 413.4 319.3 379.4 319.3C344.8 319.3 339.5 346.3 339.5 374.2L339.5 480L273.1 480L273.1 266.2L336.8 266.2L336.8 295.4L337.7 295.4C346.6 278.6 368.3 260.9 400.6 260.9C467.8 260.9 480.3 305.2 480.3 362.8L480.3 480z')
                    a.text-info.text-decoration-none.align-items-center(href='https://www.linkedin.com/company/inscripta-ai/', target='_blank') LinkedIn


            // Right sections: Products, Resources, Contact
            .col-lg-6.offset-lg-1
                .row
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.mb-3 Products
                        ul.list-unstyled
                            li
                                a.text-light(href='/products/parseqa/qabot.html') ParseQa QABot
                            li
                                a.text-light(href='/products/parseqa/curate.html') ParseQa Curate
                            li
                                a.text-light(href='/products/norgai.html') NorgAI
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.mb-3 Resources
                        ul.list-unstyled
                            li
                                a.text-light(href='/blog/') Blogs
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.bold.mb-3 Services
                        ul.list-unstyled
                            li
                                a.text-light(href='/consulting.html') Consulting
                    .col-md-3.mb-4.mb-md-0
                        h6.text-white.mb-3 Contact
                        ul.list-unstyled
                            li
                                a.text-light(href='mailto:sales@inscripta.ai') Email Us
                        
        .row.mt-4
            .col-12.text-center
                .small.text-light.mt-2
                    | &copy; 2025 Inscripta AI. All Rights Reserved.
                    a.text-light.mx-2 Terms of Service
                    a.text-light.mx-2(href='/legal/privacy.html') Privacy Policy

// Bootstrap core JS
script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

// Core theme JS
script(src='/js/scripts.js')

// For loading images lazily
script(src="/js/lazysizes.min.js")
script(src="/js/ls.unveilhooks.min.js")


link(rel="stylesheet", href="https://website-bot.inscripta.ai/static/style.css")

// Load the chatbot bundle and auto-open
script(src="https://website-bot.inscripta.ai/static/chatbot.bundle.iife.js", onload="window.chatbotApp.openChat()")

