doctype html
html(lang='en')

    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='ParseQa Curate fast-tracks enterprise data workflows—extract, validate, and curate data and insights from diverse documents with secure, accurate and source verifiable automation.')
        meta(name='author', content='Team Inscripta')

        title Automated data extraction and curation

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.png')

        //Font
        link(rel="preconnect" href="https://fonts.gstatic.com") 

        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i,900,900i&display=swap', rel='stylesheet')

        link(rel='preload' href='https://fonts.googleapis.com/css?family=Nunito Sans:300,300i,400,400i,700,700i,900,900i&display=swap' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(href='https://fonts.googleapis.com/css?family=Nunito Sans:300,300i,400,400i,700,700i,900,900i&display=swap', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/critical.css', rel='stylesheet')
        
        // Font Awesome
        link(rel='preload' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

        // Google Tag Manager
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5XQVFGS');
        // End Google Tag Manager

    body#page-top

        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5XQVFGS' height='0' width='0' style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)


        // Navigation
        include /pug/includes/menu.pug


        // Producthead
        header.prodhead_qabot 
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100
                    .col-lg-8.align-self-end    
                        h1.text-white.font-weight-bold ParseQa Curate
                        h5.text-white.mt-4 Data Curation Fast-Tracked
                    .col-lg-8.align-self-baseline.mt-4
                    
        

        // About
        section#about.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-5.gy-4.align-items-center
                    .col-lg-6.col-md-12.text-md-start.text-center
                        h2.fw-bold.text-secondary.mb-4 What is ParseQa Curate?
                        h5.fw-normal.mb-4 ParseQa Curate is a state-of-the-art system for contextual data extraction & curation from a wide variety of documents. Extract data into Excel/CSV/JSON, or simply ask questions to get relevant answers from mountains of large documents in a matter of minutes.
                        .mt-5
                            a.btn.btn-primary-outline.btn-xl(href='#key-features') Explore Features
                    .col-lg-6.col-md-12.text-center
                        img.img-main.lazyload(style="max-width: 640px;", src="/assets/img/products/parseqa_isometric.png")


        
        // Key Features Section
        section#key-features.page-section.py-5.bg-white
            .container.px-4.px-lg-5
                h2.text-center.font-weight-bold.mb-5.text-primary Key Features
                .row.gx-5.gy-4
                    .col-md-6
                        .d-flex.mb-4
                            img.img-main.lazyload(src="/assets/img/products/parseqa-curate/extract-icon.png", alt="Verifiable Extraction", width="100")
                            p.fs-5.mb-4.ml-4
                                span.fw-bold.text-primary Verifiable & adaptive extraction
                                | with view of source documents alongside extractions.

                        .d-flex.mb-4
                            img.img-main.lazyload(src="/assets/img/products/parseqa-curate/human-icon.png", alt="Human-in-loop", width="100")
                            p.fs-5.mb-4.ml-4
                                span.fw-bold.text-primary Human-in-loop
                                | validation for consistent extraction using domain expertise.

                        .d-flex.mb-4
                            img.img-main.lazyload(src="/assets/img/products/parseqa-curate/privacy-icon.png", alt="Privacy", width="100")
                            p.fs-5.mb-4.ml-4
                                span.fw-bold.text-primary Data privacy and security
                                | ensured as all models are deployed locally within org.
                    .col-md-6
                        .d-flex.mb-4
                            img.img-main.lazyload(src="/assets/img/products/parseqa-curate/workflow-icon.png", alt="Workflow", width="100")
                            p.fs-5.mb-4.ml-4
                                | Customizable
                                span.fw-bold.text-primary Extract-Review-Curate workflow
                                | tailored for org needs.

                        .d-flex.mb-4
                            img.img-main.lazyload(src="/assets/img/products/parseqa-curate/qa-icon.png", alt="Inference", width="100")
                            p.fs-5.mb-4.ml-4
                                | Go beyond run-of-the-mill data extraction with
                                span.fw-bold.text-primary Intelligent Inference and QA. 

                        .d-flex.mb-4
                            img.img-main.lazyload(src="/assets/img/products/parseqa-curate/pdf-icon.png", alt="PDF Extraction", width="100")
                            p.fs-5.mb-4.ml-4
                                span.fw-bold.text-primary Robust PDF extraction
                                | from tables, unstructured text and embedded images.

                .row.gx-4.gx-lg-5.mt-4.align-items-center
                    .col-lg-6
                        .contact-card.col-lg-10
                            h3.text-primary.mx-4.my-3 Process a range of Documents
                    .col-md-6.bg-white.rounded-end.p-4.d-flex.align-items-center.justify-content-center
                        .row.w-100
                            .col-sm-6
                                ul.red-bullets.ps-3
                                    li.mb-2 Technical Manuals
                                    li.mb-2 Knowledge Articles
                                    li.mb-2 Policy Documents
                                    li.mb-2 Patents
                            .col-sm-6
                                ul.red-bullets.ps-3
                                    li.mb-2 Contracts
                                    li.mb-2 Product Reviews
                                    li.mb-2 Product Documentation
                                    li.mb-2 Scientific Publications
        


        // Benchmarking
        section#benchmarking.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-12.half-box
                        .col-lg-10
                            h5.text-primary // Benchmarking
                            h2.font-weight-bold ParseQa outperforms custom GPT by 50% on complex data extraction & question answering
                            ul
                                li.mt-1 Better performance even with much smaller local models.
                                li.mt-1 Flexibly point ParseQa to larger models like GPT or Gemini for a bigger boost.
                                li.mt-1 Ideal for technical manuals and scientific publications.
                    .col-lg-6.col-md-12
                        img.img-fluid.lazyload(data-src="/assets/img/benchmarking_parseqa.png" alt="Benchmarking ParseQa")
            .container.px-4.px-lg-6.mt-5
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-12
                        img.img-fluid.lazyload(data-src="/assets/img/benchmarking_multimodal.png" alt="Benchmarking Multimodal")
                    .col-lg-6.col-md-12.half-box
                        .col-lg-10
                            h5.text-primary // Benchmarking
                            h2.font-weight-bold Multimodal data performance
                            ul
                                li.mt-1 Significantly better answers from tables and diagrams.
                                li.mt-1 More reliable across the board.
                                li.mt-1 Navigate top-3 results with the UI for 100% quality assurance.
        


        // Case Study
        section#case-study.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center
                    img(src="/assets/img/products/parseqa-curate/case-study.png", alt="Case Study", width="925", height="600")





        // Contact
        section#contact.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center.mb-5
                    .col-lg-7
                        .contact-card.col-lg-10
                            h3.text-primary.mx-4.my-3 Leverage knowledge extraction effectively with ParseQa Curate
                    .col-lg-5
                        h2.mt-4.mt-lg-0 Get In Touch!
                        hr.divider.bg-secondary.mx-0
                        h6.mb-4
                            | Find out what ParseQa Curate can do for you
                            hr.w-50
                            | Speak to an expert, request an assesment, see the demo of solutions
                            br
                        p.flex-align-content-center
                            i.fa.fa-envelope.fa-2x.sr-contact.text-primary 
                            a.mx-3.mt-2(href='mailto:sales@inscripta.ai') sales@inscripta.ai

        


        // Footer
        include /pug/includes/footer_new.pug

        link(rel='preload' href='/css/styles.min.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(href='/css/styles.min.css', rel='stylesheet')
