doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='Team Inscripta')

        title Hiring | Inscript AI

        // Favicon
        link(rel='icon', type='image/x-icon', href='/assets/favicon.png')

        //Font
        link(href='https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Nunito Sans:300,300i,400,400i,600,600i,700,700i,800,800i,900,900i', rel='stylesheet')

        // Font Awesome
        link(rel='preload' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css' as='style' onload="this.onload=null;this.rel='stylesheet'")
        noscript
            link(rel='stylesheet' href='https://use.fontawesome.com/releases/v5.3.1/css/all.css')

        // Core theme CSS (includes Bootstrap)
        link(href='/css/styles.min.css', rel='stylesheet')

        // Google Tag Manager
        script.
          (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
          new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
          j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
          'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
          })(window,document,'script','dataLayer','GTM-5XQVFGS');
        // End Google Tag Manager


    body#page-top
        // Google Tag Manager (noscript)
        noscript
            iframe(src='https://www.googletagmanager.com/ns.html?id=GTM-5XQVFGS' height='0' width='0' style='display:none;visibility:hidden')
        // End Google Tag Manager (noscript)


        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='/')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='/') HOME
                        li.nav-item
                            a.nav-link(href='#open-positions') OPEN POSITIONS
                        li.nav-item
                            a.nav-link(href='#internship') INTERNSHIP
                        li.nav-item
                            a.nav-link(href='#contact') APPLY NOW

        // Producthead
        header.simplehead 
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100
                    .col-lg-8.align-self-end    
                        h1.text-white.font-weight-bold We Are Hiring!!
                    .col-lg-8.align-self-baseline.mt-4

        section#about.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-7
                        h1.font-weight-bold.mb-3 What Are We Upto
                        h5.mb-5 With the growing integration of AI solutions in industry, we envisage the need for adaptable, high-quality and cutting-edge AI solutions which can be customized quickly for a variety of business domains. Inscripta is creating expertise and developing building blocks for such solutions, based on state-of-the-art research and the latest tools & technologies. This enables Inscripta to help companies fast-track integration of AI technologies such as Natural Language Processing, Image Processing and Machine Learning with their products, solutions, and services. We are looking for people who can strengthen Inscripta's capability to deliver on its vision.
                        a.mb-3.btn.btn-secondary-outline.btn-xl(href='#open-positions') Explore Open Positions
                    .col-lg-5


        //section#features.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-12.col-md-12.mx-auto
                        h1.font-weight-bold.text-center.mb-3 What it’s like to work at Inscripta!
                        //h5.text-center.mb-3 Find out more about what it’s like to work at Inscripta!
                .row.gx-4.gx-lg-5.mt-4
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        .content-box-primary.bg-white.h-100
                            .mb-3
                                //.i.fas.fa-3x.fa-file-invoice.text-primary
                            .h4.mb-2 Remote First
                            .product-detail
                                | Remote First
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        .content-box-secondary.bg-white.h-100
                            .mb-3
                                //.i.fas.fa-3x.fa-file-invoice.text-primary
                            .h4.mb-2 Ownership Driven
                            .product-detail
                                | blah blah blah
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        //.team-profile-box.bg-white.height-100.align-self-end
                        .content-box-primary.bg-white.h-100
                            .mb-3
                                //.i.fas.fa-3x.fa-file-invoice.text-primary
                            .h4.mb-2 Mentorship
                            .product-detail
                                | blah blah blah
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        //.team-profile-box.bg-white.height-100.align-self-end
                        .content-box-secondary.bg-white.h-100
                            .mb-3
                                //.i.fas.fa-3x.fa-file-invoice.text-primary
                            .h4.mb-2 One more thing
                            .product-detail
                                | blah blah blah
                    


        section#open-positions
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .row
                        .col-lg-12.mt-5.mx-2
                            h1.font-weight-bold.text-center.mb-3 Open Positions
                            h5.text-primary Last Update: Aug-2022 

        section#AI-Engineer-NLP.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-12
                        h3.mb-3 AI Engineer (NLP)
                        p.mb-0 We are looking for an NLP Engineer to work with us on cutting-edge problems in language processing. The ideal candidate should be:
                        ul
                            li Capable of building end-to-end, deployable NLP solutions, preferably in Python (should be able to adapt to other programming languages as needed)

                            li Familiar with standard NLP toolkits (Spacy, NLTK, etc.), pipelines (morphological analysis, POS tagging, parsing), and data curation
                            li Enthusiastic about analyzing text data and understanding linguistic features specific to the domain
                            li Fluent with modern deep learning architectures (CNNs, LSTMs, Transformers etc.) and Tensorflow
                            li Capable of adapting and implementing techniques from the research literature
                            li (Optional) Conversant with cloud frameworks such as GCP, Azure and Sagemaker
                        p If you are a competent software developer looking to expand your experience and skills in the area of NLP
                        ul
                            li Challenge yourself with highly relevant and well-formulated business problems in language technology, focusing intensely on the technical quality of solutions
                            li Apply cutting-edge techniques in NLP, ML, and Deep Learning
                            li Work with experienced NLP
                            li Gain exposure to delivering NLP-centric real-world solutions

                        p 
                        span.font-weight-bold Location:
                        |  Remote
                        span.font-weight-bold 
                        p 
                        span.font-weight-bold Experience:
                        | 2+ years of NLP experience would be desirable, but freshers with exceptional NLP skills can be considered too.

        //section#ML-Engineer.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-12
                        h3.mb-3 ML Engineer
                        p.mb-0 We are looking for an Machine Learning Engineer to work with us on cutting-edge problems in language processing. The ideal candidate should be:
                        ul
                            li Capable of building end-to-end, deployable NLP solutions, preferably in Python (should be able to adapt to other programming languages as needed)

                            li Familiar with standard NLP toolkits (Spacy, NLTK, etc.), pipelines (morphological analysis, POS tagging, parsing), and data curation
                            li Enthusiastic about analyzing text data and understanding linguistic features specific to the domain
                            li Fluent with modern deep learning architectures (CNNs, LSTMs, Transformers etc.) and Tensorflow
                            li Capable of adapting and implementing techniques from the research literature
                            li (Optional) Conversant with cloud frameworks such as GCP, Azure and Sagemaker
                        p If you are a competent software developer looking to expand your experience and skills in the area of NLP
                        ul
                            li Challenge yourself with highly relevant and well-formulated business problems in language technology, focusing intensely on the technical quality of solutions
                            li Apply cutting-edge techniques in NLP, ML, and Deep Learning
                            li Work with experienced NLP
                            li Gain exposure to delivering NLP-centric real-world solutions

                        p 
                        span.font-weight-bold Location:
                        |  Remote
                        span.font-weight-bold 
                        p 
                        span.font-weight-bold Experience:
                        | 2+ years of NLP experience would be desirable, but freshers with exceptional NLP skills can be considered too.

        

        section#internship.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .my-4.col-lg-10.mx-auto
                        .row
                            .col-lg-4.col-md-4
                                h1.font-weight-bold Internship
                            .col-lg-8.col-md-8
                                h5 If you are working on research problems in NLP, Image Processing or any other area of AI (Masters/PhD), and are looking for an internship opportunity (1-6 months), we would be happy to hear from you.

        section#apply.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center
                    .col-lg-8
                        .contact-card.col-lg-10
                            h3.text-primary.mx-4.my-3 We are looking for people who want to be part of this journey with us!!
                    .col-lg-4
                        h2.mt-4.mt-lg-0 Apply Now!
                        hr.divider.bg-secondary.mx-0
                        h6.mb-3
                            | If this sounds exciting, do write in to us with your resume. 
                        p.flex-align-content-center
                            i.fa.fa-envelope.fa-2x.sr-contact.text-primary 
                            a.mx-3.mt-2(href='mailto:talent@inscripta.ai') talent@inscripta.ai
                       

        // Footer
        include /pug/includes/footer_new.pug

