doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Inscripta AI| AI, NLP, Document Processing | AI Products | AI consulting

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/favicon.png')

        // Bootstrap Icons
        //link(href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css', rel='stylesheet')

        link(rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" 
            integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous")

        //link(rel="stylesheet" href="assets/wickedcss.min.css")

        // Google fonts
        //link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        //link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // SimpleLightbox plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')

    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top.py-3
            .container.px-4.px-lg-5
                a.navbar-brand(href='#page-top')
                    //img.img-logo(src='assets/img/logo/logo-cs.png', alt='Inscripta AI')
                button.navbar-toggler.navbar-toggler-right(type='button', data-bs-toggle='collapse', data-bs-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ms-auto.my-2.my-lg-0
                        li.nav-item
                            a.nav-link(href='#products') PRODUCTS
                        li.nav-item
                            a.nav-link(href='#advantage') ADVANTAGE
                        //li.nav-item
                            a.nav-link(href='#expertise') EXPERTISE
                        li.nav-item
                            a.nav-link(href='#blogs') BLOGS
                        //li.nav-item
                            a.nav-link(href='#contact') HIRING
                        li.nav-item
                            a.nav-link(href='#contact') CONTACT

        // Masthead
        header.masthead
            .container.px-4.px-lg-5.h-100
                .row.gx-4.gx-lg-5.h-100
                    .col-lg-8.align-self-end
                        h1.text-white.font-weight-bold AI INTEGRATION.<br>FAST-TRACKED. 
                    .col-lg-8.align-self-baseline.mt-5
                        h3.text-white.mb-5
                            | Fast-track AI transformation through high-quality, customizable products built using NLP, OCR and Document Processing techniques
                        a.btn.btn-secondary.btn-xl.mt-2(href='#about') Explore

        section#about.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5
                    .col-lg-6.col-md-12.half-box
                        .col-lg-10
                            h5.text-primary // About Inscripta
                            h1.font-weight-bold  Your Partner for AI Transformation
                            h5.mt-4.mb-4 Inscripta is an AI technology & consulting company that helps businesses fast-track integration of AI capabilities, through high quality customizable products.
                            //h5.mt-4.mb-4 Our products, built using state-of-the-art NLP, OCR and Document Processing techniques, can be customized quickly for a variety of business domains.
                            .mt-5
                                //a.h5(href='#products') Explore our products
                                a.btn.btn-secondary.btn-xl(href='#products') Explore products
                            //hr.divider
                            //.mt-4                    
                    .col-lg-6.col-md-12
                        //.col-lg-11
                        img.img-fluid(src="assets/img/about_inscripta_ai.png")
                //- .mt-5.align-items-center.text-center
                //-     a.btn.btn-secondary.btn-xl(href='#products') Find Out More

        section#products.page-section.bg-light
            .container.px-2.px-lg-2
                //h2.text-center.mt-0 Our products
                .row.mb-5
                    .col-md-5
                        h1.font-weight-bold Inscripta's AI Products
                    .col-md-7
                        h5 Our products, built using state-of-the-art NLP, OCR and Document Processing techniques, can be customized quickly for a variety of business domains. 
                //hr.divider.bg-light.mb-5 
                .row.gx-4.gx-lg-5.mt-4
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        .product-card-primary.bg-white
                            .img-product.text-center
                                img.img-fluid(src="assets/img/products/parseqa_isometric.png")
                            .my-3
                                img.img-product-name(src="assets/img/products/parseqa_title.jpg")
                            .my-3
                                h4.product-tagline KNOWLEDGE SEARCH <br/> FAST-TRACKED
                            .mt-3
                                | Our deep-insight semantic search engine extracts fine-grained answers from large knowledge bases efficiently
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        .product-card-secondary.bg-white
                            .img-product.text-center
                                img.img-fluid(src="assets/img/products/deckster_isometric.png")
                            .my-3
                                img.img-product-name(src="assets/img/products/deckster_title.jpg")
                            .my-3
                                h4.product-tagline PRESENTATIONS <br/> FAST-TRACKED
                            .mt-3
                                | Our AI-driven presentation builder speeds up content reuse letting you focus on getting the message right
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        .product-card-primary.bg-white
                            .img-product.text-center
                                img.img-fluid(src="assets/img/products/revlo_isometric.png")
                            .my-3
                                img.img-product-name(src="assets/img/products/revlo_title.jpg")
                            .my-3
                                h4.product-tagline PRODUCT DISCOVERY <br/> FAST-TRACKED
                            .mt-3
                                | Our purpose-built AI-powered conversational discovery engine makes product discovery easy and intuitive
                    .col-lg-3.col-md-6.col-sm-12.mb-3
                        .product-card-secondary.bg-white
                            .img-product.text-center
                                img.img-fluid(src="assets/img/products/silho_isometric.png")
                            .my-3
                                img.img-product-name(src="assets/img/products/silho_title.jpg")
                            .my-3
                                h4.product-tagline DIGITIZATION <br/> FAST-TRACKED
                            .mt-3
                                | Our flexible Document Processing and OCR engine makes quick work of digitizing the data you need to feed into your decision making systems

        // Advantage
        section#advantage.page-section 
            //.advantage-img-masked.text-white
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center
                    .col-lg-4.col-md-12
                        .py-lg-5
                            h1.font-weight-bold.mb-5 Inscripta Advantage
                            h5.mb-5 Inscripta enables companies to focus on their core business problem, instead of getting bogged down in the intricacies of AI implementation. 
                    .col-lg-7.col-md-12.mx-auto
                        .row
                            .col-lg-6.col-md-6.text-center.px-3.mt-0
                                .feature-card(style='background: url("assets/img/advantage/custom.jpg")').mb-4
                                    .mask
                                        .mx-5.my-5
                                            h3.font-weight-bold Customizable products 
                                                | to enable quicker AI integration
                                .feature-card(style='background: url("assets/img/advantage/noisy.jpg")').mb-4
                                    .mask
                                        .mx-5.my-5
                                            h3.font-weight-bold
                                                | Real-world solutions
                                                | built to handle noisy, heterogeneous data
                            .col-lg-6.col-md-6.text-center.px-3.mt-5
                                .feature-card(style='background: url("assets/img/advantage/skill.jpg")').mb-4
                                    .mask
                                        .mx-5.my-5
                                            h3.font-weight-bold 
                                                | Products designed by a highly 
                                                | skilled and experienced AI team
                                .feature-card(style='background: url("assets/img/advantage/papers.jpg")').mb-4
                                    .mask
                                        .mx-5.my-5
                                            h3.font-weight-bold
                                                | Building on the latest research 
                                                | to deliver cutting-edge solutions


        //section#stack.page-section
            .container.px-2
                .row.gx-2.gx-lg-2.justify-content-center
                    .col-lg-11.text-center
                        h3.mt-0.mb-5 Our products, built using state-of-the-art NLP, OCR and Document Processing techniques
                        //hr.divider.mb-5
                        //p.text-white-75.mb-4

                    .col-lg-10.text-center
                        img.img-fluid(src="assets/img/inscripta_stack.png" alt="Inscripta Stack")

        section#stack.page-section
            .container.px-2
                .row.gx-2.gx-lg-2.justify-content-center
                    .col-lg-8
                        img.img-fluid(src="assets/img/inscripta_stack.png" alt="Inscripta Stack")
                    .col-lg-4
                        h1.font-weight-bold.mt-3 Inscripta Technology Stack
                        h5.mt-5 State-of-the-Art Technologies. Flexible Libraries. Customizable Products.


        //Expertise
        //section#expertise.page-section.bg-light
            .container.px-2.px-lg-2
                .col-lg-11.col-md-6.col-sm-12.row.mx-auto
                    .row.mb-4
                        .col-md-4
                                h1.font-weight-bold Our Expertise
                        .col-md-8
                            h5 Our depth in NLP, machine learning, and deep learning, combined with our suit of cutting-edge products, ensures quick and effective AI prototyping and integration
                    .row.mt-4
                        //.col-lg-2.col-md-6.col-sm-12.align-items-center.text-center
                            .stack-heading-box 
                                h1.font-weight-bold Our Expertise
                        .col-lg-6.col-md-6.col-sm-12
                            .product-card2.mb-4
                                h2.mb-3.text-primary NLP
                                p Extensive experience in semantic search and recommendation, question answering, opinion mining, aspect-sentiment analysis, information extraction, and summarization 
                                p Deep understanding of the nuances of different data sources (blogs, video reviews, news, etc.) in various domains
                                p Ability to handle real-world, noisy, heterogeneous data
                                p  Solutions built around state-of-the-art deep learning models such as LSTM and BERT at the core
                            .product-card2
                                h2.mb-3.text-primary Image Processing
                                p Combining cutting-edge image recognition and NLP techniques for high accuracy
                                p Ready modules for multiple use cases: 
                                p Object detection and masking for GDPR compliance
                        .col-lg-6.col-md-6.col-sm-12
                            .product-card2.mb-4.mx-2.mt-5
                                h2.mb-3.text-primary Conversational AI
                                p Task-oriented dialog agents that stand out from run-of-the-mill chatbots
                                p Purpose-built for product discovery engines, support assistants, and FAQ bots
                                p Bootstrapped from available data sources (reviews, blogs, knowledge articles) for quick deployment
                                p Easily adaptable to various domains
                            .product-card2.mx-2
                                h2.mb-3.text-primary Ethical AI
                                p point 1
                                p point 2
                                p point 3
                                p point 4



        // Blog
        section#blogs.bg-primary.text-white.page-section
                .container.px-4.px-lg-5.text-center
                    .col-lg-10.mx-auto.text-center
                        h1.font-weight-bold.mt-0.mb-5 BLOGS
                .container-fluid    
                    #myCarousel.carousel.slide(data-bs-ride="carousel").mx-auto
                        .carousel-inner.row.mx-auto.col-lg-10
                            .carousel-item.active
                                .col-md-4
                                    .image-card.mx-4
                                        a.blog-link(target='new' href='https://medium.com/inscripta/get-set-ai-fast-track-your-companys-transformation-92dd2696c96d')
                                            .card-box
                                                img(src='https://miro.medium.com/max/300/1*NyC1BVNPnbQFonVkfgUNRQ.jpeg', style="width: 100%")
                                            h5.font-weight-bold.mx-3.my-4 Get Set AI: Fast-track your company&rsquo;s transformation
                            .carousel-item
                                .col-md-4
                                    .image-card.mx-4
                                        a.blog-link(target='new' href='https://medium.com/inscripta/product-search-is-broken-heres-how-99e08504bdd9')
                                            .card-box
                                                img(src='https://miro.medium.com/max/300/1*PCm8-X-YzQORT8mpZNxcJw.png', style="width: 100%")
                                            h5.font-weight-bold.mx-3.my-4 Product Search is Broken: Here&rsquo;s How
                            .carousel-item
                                .col-md-4
                                    .image-card.mx-4
                                        a.blog-link(target='new' href='https://medium.com/inscripta/does-conversational-ai-need-a-hippocratic-oath-99d23f458ede')
                                            .card-box
                                                img(src='https://miro.medium.com/max/300/1*69nhAmSOPS68-1dZp-S_Yw.jpeg', style="width: 100%")
                                            h5.font-weight-bold.mx-3.my-4 Does Conversational AI Need a Hippocratic Oath?
                            .carousel-item
                                .col-md-4
                                    .image-card.mx-4
                                        a.blog-link(target='new' href='https://medium.com/inscripta teaching-computers-how-humans-think-by-creating-questions-that-computers-cannot-answer-74adbafe48c1')
                                            .card-box
                                                img(src='https://miro.medium.com/max/300/1*3mPvtGe1aOE-uCIUbrrTGQ.jpeg', style="width: 100%")
                                            h5.font-weight-bold.mx-3.my-4 Teaching computers how humans think ...
                        a.carousel-control-prev(href='#myCarousel' role='button' data-slide='prev')
                            span.carousel-control-prev-icon(aria-hidden='true')
                            span.sr-only Previous
                        a.carousel-control-next(href='#myCarousel' role='button' data-slide='next')
                            span.carousel-control-next-icon(aria-hidden='true')
                            span.sr-only Next

        // Team
        section#team.page-section.bg-light
            .container.px-2.px-lg-2
                .col-lg-11.mx-auto 
                    .row.mb-5
                        .col-md-3
                            h1.font-weight-bold The Team
                        .col-md-9.mx-auto
                            h5  Having worked at organizations such as IBM Research, Flipkart, VMware, Reliance, Schlumberger, multiple startups and research labs, we are equipped with deep, real-world AI expertise. Our team consists of Masters and PhDs from top universities like IIT Bombay, CMU and University of Birmingham (UK).

            .container
                    //h1.font-weight-bold.mt-0.mb-5.text-center The Team
                    //.col-lg-10.mx-auto
                        .row.mb-5
                            .col-lg-6.px-3
                                        //.team-profile-box
                                        //h1.mb-4 Team
                                        //h2.mb-0.text-primary.font-weight-extra-bold(style='text-transform: uppercase') Experience
                                        .highlight-box.bg-primary.text-white
                                        
                                            | IBM Research, Flipkart, VMware, Reliance, Schlumberger, NCST (Govt of India research lab), multiple startups and University College Dublin. Masters/PhDs from top universities like IIT Bombay, Carnegie Mellon University (US) and University of Birmingham (UK)
                            .col-lg-6.px-3
                                        //.team-profile-box.mx-auto
                                        //h2.mb-0.text-secondary.font-weight-extra-bold(style='text-transform: uppercase') Exposure
                                        .highlight-box.bg-secondary.text-white
                                            //.highlight-box
                                            | Having witnessed the way the landscape of problems and solutions has evolved over nearly two decades, we understand precisely how AI can have a deep impact on your business, and have the expertise to offer you pragmatic and effective ways to turn your ideas into reality.
                                   
                    .col-lg-12.mx-auto
                        .row
                            //h1.mb-4 Team
                            .col-lg-4.px-3
                                .team-profile-box.mx-auto
                                    .text-center.text-primary
                                        img.team-profile-img(src='assets/img/team/AR.jpg')
                                        h4.mb-3 Anand Ramanathan
                                        h6.mb-2 Cofounder 
                                        a(href='https://www.linkedin.com/in/anand-ramanathan/' target='_blank')
                                            i.fab.fa-linkedin.fa-1_25x
                                    .text-muted.mx-3.mt-3
                                        | Anand has 15+ years of NLP/AI experience. He has developed AI solutions for varied domains including finance, telecom, and oil & gas, while working with organizations such as NCST, IBM Research, and Schlumberger. His work comprises machine translation systems, a smart search product for financial data analytics, an open source intelligence toolkit, a ticket analytics system, etc. Anand has a PhD in computer science from IIT Bombay.
                                    
                            .col-lg-4.px-3
                                .team-profile-box
                                    .text-center.text-primary
                                        img.team-profile-img(src='assets/img/team/VM.jpg')
                                        h4.mb-3 Vivek Mehta
                                        h6.mb-2 Cofounder
                                        a(href='https://www.linkedin.com/in/vivek-mehta/' target='_blank')
                                            i.fab.fa-linkedin.fa-1_25x
                                    .text-muted.mx-3.mt-3
                                        | Vivek has 15+ years of AI/ML experience. Before starting his enxtrepreneurial journey, he worked at various startups including Flipkart. He has experience in array of problems like personalization and recommendations, handwriting recognition, fraud detection, online advertising, and few others. Vivek holds a Masters degree from Carnegie Mellon University (US).

                                    

                            .col-lg-4.px-3
                                .team-profile-box
                                    .text-center.text-primary
                                        img.team-profile-img(src='assets/img/team/VN.jpg')
                                        h4.mb-3 Vivek Nallur
                                        h6.mb-2 Research and Academic Consultant
                                        a(href='https://www.linkedin.com/in/vivek-nallur-1b27231/' target='_blank')
                                            i.fab.fa-linkedin.fa-1_25x
                                    .text-muted.mx-3.mt-3
                                        | Vivek Nallur is an itinerant academic, currently working as a lecturer/assistant professor in University College Dublin. His main research interests are in simulation of complex systems, emergence, and autonomous and adaptive systems. He has worked with evolutionary computing, multi-agent systems and machine-learning for his research. He has a PhD from the University of Birmingham (UK) and a Masters from Carnegie Mellon University (US). In a previous avatar, he used to work in the Silicon Valley, for VMware Inc.
            

        //section.page-section.bg-light
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.justify-content-center
                    .col-lg-10.text-center
                        h2.mb-4 Based on our decades of experience in building AI products, we can help you to formulate, implement, and build high-quality AI solutions specific to your business and domain


        // Contact
        section#contact.page-section
            .container.px-4.px-lg-5
                .row.gx-4.gx-lg-5.align-items-center
                    .col-lg-8
                        .contact-card.col-lg-10
                            h3.text-primary.font-weight-bold.mx-2.my-0 Based on our decades of experience in building AI products, we can help you to formulate, implement, and build high-quality AI solutions specific to your business and domain
                    .col-lg-4
                        h2.mt-0 Get In Touch!
                        hr.divider.bg-secondary.mx-0
                        p.mb-3
                            | Looking to add intelligence to your systems? 
                            br
                            | Require customized deployment?
                        p.flex-align-content-center
                            i.fa.fa-envelope.fa-2x.sr-contact.text-primary 
                            a.mx-3.mt-2(href='mailto:sales@inscripta.ai') sales@inscripta.ai

        
        // Footer
        footer.bg-dark.py-5.text-white
            .container.px-4.px-lg-5
                .row
                    .col-lg-4
                        img.img-logo(src="assets/img/logo/logo-cs.png")
                        .small.text-muted.mt-4
                            | Copyright &copy; 2021 - Inscripta AI 

                    //.col-lg-2
                        h6 About Inscripta
                    //.col-lg-2
                        h6 Products
                    //.col-lg-2
                        h6 Legal

                //.small.text-center.text-muted.mt-4
                    | Copyright &copy; 2021 - Inscripta AI 


        // Bootstrap core JS
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js')

        // SimpleLightbox plugin JS
        script(async='' src='https://cdnjs.cloudflare.com/ajax/libs/SimpleLightbox/2.1.0/simpleLightbox.min.js')

        // Core theme JS
        script(src='js/scripts.js')

        // carousel
        script(async='' src='js/carousel.js')

        script(async='' src='https://www.googletagmanager.com/gtag/js?id=G-EFFNZ2DL25')
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
          gtag('config', 'G-EFFNZ2DL25');

        
        script(type='text/javascript' data-cfasync='false').
            window.purechatApi = { l: [], t: [], on: function () { this.l.push(arguments); } }; (function () { var done = false; var script = document.createElement('script'); script.async = true; script.type = 'text/javascript'; script.src = 'https://app.purechat.com/VisitorWidget/WidgetScript'; document.getElementsByTagName('HEAD').item(0).appendChild(script); script.onreadystatechange = script.onload = function (e) { if (!done && (!this.readyState || this.readyState == 'loaded' || this.readyState == 'complete')) { var w = new PCWidget({c: '8e43e54d-9672-416c-bcf8-370b1ad7ea9f', f: true }); done = true; } }; })();
