// 
// inscripta
// 

img.img-logo {
  height: 40px;
}

.h1 {
  font-size: 3rem;
}

.h4 {
    font-size: 1.25rem;
}

.img-main {
  max-height: 400px;
  max-width: 100%;
}

.img-parseqa {
  max-height: 500px;
  max-width: 120%;
  margin-left:  -20%;
}

.product-card-primary {
  height: 100%;
  padding: 15px;
  box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid $white 7px;
}

.product-card-primary:hover {
  border-bottom: solid $primary 7px;
}

.product-card-secondary {
  height: 100%;
  padding: 15px;
  box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid $white 7px;
}

.product-card-secondary:hover {
  border-bottom: solid $secondary 7px;
}

.img-product-name {
  height: 1.85em;
}

.img-product {
  max-width: 90%;
}

.product-detail {
  line-height: 1.3;
}

h4.product-tagline {
    line-height:1;
    font-weight:700;
}

.advantage-img-masked {
  background: linear-gradient(to bottom,
        #{fade-out($primary, 0.4)} 0%,
        #{fade-out($primary, 0.4)} 100%),
    url("../assets/img/h3.jpg");

    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
}

.feature-card-old {
  //height: 100%;
  padding: 15px;
  //box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
  //border-radius: 5px;
  background-color: white;
  color: black;
  box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
}

.feature-card {
  padding: 0px;
  color: white;
  box-shadow: 15px 15px 30px 0 rgba(0, 0, 0, 0.3);
  background-repeat: no-repeat !important;
  background-size: cover !important;
  background-position: center !important;
  background-attachment: scroll !important;
}

.animation-float {
    transition-duration: .3s;
    transition-property: transform;
    transition-timing-function: ease-out;
}

.animation-float:hover {
  transform: translateY(-8px);
}

.mask {
  background: rgba(39,62,84,0.62);
  overflow: hidden;
  height: 100%;
  z-index: 2;
}

.half-box {
  align-items: center;
  display: grid;
}

.expertise-card {
  //height: 100%;
  //box-shadow: 15px 15px 38px 0 rgba(0, 0, 0, 0.1);
  background-color: white;
  border: 1px solid #eaecf3;
  //border-radius: .75rem;
  padding: 25px;
  box-shadow: 10px 10px 1.25rem rgba(31,45,61,.05);
}

.contact-card {
  display:flex;
  align-items:center;
  border-left: solid $secondary 5px;
}

.sideways-heading {
  padding: 10px;
  writing-mode: sideways-lr;
}

.mt-8 {
  margin-top: 8em;
}

.content-box-primary {
  border: 2px solid #eaecf3;
  //border-radius: .75rem;
  padding: 20px;
  box-shadow: 10px 10px 1.25rem rgba(31,45,61,.05);
}

.content-box-primary:hover {
  border: 2px solid $primary;
}

.content-box-secondary {
  border: 2px solid #eaecf3;
  //border-radius: .75rem;
  padding: 20px;
  box-shadow: 10px 10px 1.25rem rgba(31,45,61,.05);
}

.content-box-secondary:hover {
  border: 2px solid $secondary;
}

.content-box2-secondary {
  //border: 2px solid #eaecf3;
  height: 100%;
  padding: 15px;
  box-shadow: 15px 15px 15px 0 rgba(0, 0, 0, 0.1);
  border-bottom: solid $white 7px;
}

.content-box2-secondary:hover {
  border-bottom: solid $secondary 7px;
}

.team-profile-box {
  border: 1px solid #eaecf3;
  //border-radius: .75rem;
  padding: 25px;
  box-shadow: 10px 10px 1.25rem rgba(31,45,61,.05);
}

.height-100 {
  height: 100%;
}

.align-self-end-flex {
  align-self: end !important;
  display: flex;
}

.team-profile-box:hover {
  border: 1px solid $primary;
}

.team-profile-img {
  width: 60%;
  border-radius: 50%;
  margin-bottom: 2rem;
  margin-top: -8em;
}

.highlight-box {
  padding: 1.2em;
  height: 100%;
  //margin-top:-7px;
  //border: solid $primary 2px;
  border-radius: 5px;
}

.image-card {
  background-color: white;
  height: 100%;
}

.card-box {
  display: block;
  height: 250px;
  overflow: hidden;
  margin: 0 auto;
  width: 100%;
  max-height: 100%;
}

.blog-link {
    text-decoration: none;
}
