// 
// Styles
// 

// Import custom variables and override default Bootstrap variables
@import "./variables.scss";

// Import Bootstrap
@import "bootstrap/scss/bootstrap.scss";

// Import custom styles
@import "./global.scss";

// Import custom styles for inscripta
@import "./inscripta.scss";

// Components
@import "./components/buttons.scss";
@import "./components/dividers.scss";
@import "./components/navbar.scss";

// Sections
@import "./sections/masthead.scss";
@import "./sections/portfolio.scss";

@import "./carousel.scss";

@import 'sections/norgai-animation';
@import 'sections/norgai-animation-section';
@import 'sections/norgai-workflow-animation';
@import 'sections/norgai-workflow2-animation'