// 
// Typography
// 

// @import url('https://fonts.googleapis.com/css?family=Lato:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i');
// @import url('https://fonts.googleapis.com/css?family=Nunito Sans:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i');


$font-family-sans-serif: "Nunito Sans", sans-serif;
$font-family-serif: "Lato", sans-serif;

$font-family-base: "Nunito Sans", sans-serif;
$headings-font-family: "Lato", sans-serif;
$btn-font-family: "Lato", sans-serif;

$font-weight-bold: 700;